*.suo
*.csproj.user
*.config
*.vsmdi
*.snk
StyleCop.Cache
testimpactdata.sdf
bin/
obj/
Build/
!Source/BlueCollar.Console/App.config
TestApps/Web35/App_Data/BlueCollar.s3db
TestApps/Web40/App_Data/BlueCollar.s3db
!TestApps/Web35/Web.config
!TestApps/Web40/Web.config
TestResults/
