*.suo
*.csproj.user
*.vsmdi
*.snk
StyleCop.Cache
testimpactdata.sdf
bin/
obj/
Build/
PackageTemp/
Source/BlueCollar.Test/App.config
TestApps/Web35/App_Data/BlueCollar.s3db
TestApps/Web40/App_Data/BlueCollar.s3db
TestApps/WebInProc35/App_Data/BlueCollar.s3db
TestResults/
