<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Blue Collar 0.7" Id="0870DFD2-A7DF-49EF-8EE1-F13D5B078626" UpgradeCode="AE5FF182-92B9-4CA6-AE1E-52342F775AF7" Version="0.7.0" Manufacturer="Tasty Codes" Language="1033">
    <Package Description="Blue Collar Installer" Compressed="yes"/>

    <Media Id="1" Cabinet="BlueCollar.cab" EmbedCab="yes"/>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Blue Collar">
          <Directory Id="Framework35" Name="Framework 3.5">
            <Component Id="Library35" Guid="ABC9EE0C-E97D-4962-97A9-A9E6D14D3223">
              <File Id="BlueCollarDLL" Name="BlueCollar.dll" DiskId="1" Source="Framework 3.5\BlueCollar.dll" KeyPath="yes"/>
              <File Id="BlueCollarPDB" Name="BlueCollar.pdb" DiskId="1" Source="Framework 3.5\BlueCollar.pdb"/>
              <File Id="BlueCollarXML" Name="BlueCollar.xml" DiskId="1" Source="Framework 3.5\BlueCollar.xml"/>
            </Component>
          </Directory>
          <Directory Id="Framework40" Name="Framework 4.0">
            <Component Id="Library40" Guid="1285F835-D475-46B5-AC03-AFCC2B0CBE09">
              <File Id="BlueCollarDLL" Name="BlueCollar.dll" DiskId="1" Source="Framework 4.0\BlueCollar.dll" KeyPath="yes"/>
              <File Id="BlueCollarDLL" Name="BlueCollar.dll" DiskId="1" Source="Framework 4.0\BlueCollar.pdb"/>
              <File Id="BlueCollarDLL" Name="BlueCollar.dll" DiskId="1" Source="Framework 4.0\BlueCollar.xml"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <Feature Id="Library" Title="Blue Collar library" Level="1">
      <ComponentRef Id="Library35"/>
      <ComponentRef Id="Library40"/>
    </Feature>
  </Product>
</Wix>