<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Blue Collar" Id="0870DFD2-A7DF-49EF-8EE1-F13D5B078626" UpgradeCode="AE5FF182-92B9-4CA6-AE1E-52342F775AF7" Version="0.7.0" Manufacturer="Tasty Codes" Language="1033">
    <Package Description="Blue Collar Installer" Compressed="yes"/>

    <Media Id="1" Cabinet="BlueCollar.cab" EmbedCab="yes"/>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Blue Collar">
          
          <Component Id="Application" Guid="42CE5D7E-828E-42D8-BF6B-AE83DAF9BCF0">
            <File Id="collar35EXE" Name="collar_35.exe" DiskId="1" Source="collar_35.exe"/>
            <File Id="collar35exeCONFIG" Name="collar_35.exe.config" DiskId="1" Source="collar_35.exe.config"/>
            <File Id="collar40EXE" Name="collar_40.exe" DiskId="1" Source="collar_40.exe"/>
            <File Id="collar40exeCONFIG" Name="collar_40.exe.config" DiskId="1" Source="collar_40.exe.config"/>
            <File Id="collarserviceEXE" Name="collar_service.exe" DiskId="1" Source="collar_service.exe" KeyPath="yes"/>
            <File Id="collarserviceexeCONFIG" Name="collar_service.exe.config" DiskId="1" Source="collar_service.exe.config"/>
            <File Id="MonoSecurityDLL" Name="Mono.Security.dll" DiskId="1" Source="Mono.Security.dll"/>
            <File Id="NDeskOptionsDLL" Name="NDesk.Options.dll" DiskId="1" Source="NDesk.Options.dll"/>
            <File Id="NLogDLL" Name="NLog.dll" DiskId="1" Source="NLog.dll"/>
            <File Id="NLogXML" Name="NLog.xml" DiskId="1" Source="NLog.xml"/>
            <File Id="NpgsqlDLL" Name="Npgsql.dll" DiskId="1" Source="Npgsql.dll"/>
            <File Id="SystemDataSQLiteDLL" Name="System.Data.SQLite.dll" DiskId="1" Source="System.Data.SQLite.dll"/>
            <File Id="SystemDataSQLiteXML" Name="System.Data.SQLite.xml" DiskId="1" Source="System.Data.SQLite.xml"/>
            <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="BlueCollarService" DisplayName="Blue Collar Service" Description="Executes Blue Collar job processes." Start="auto" Account="LocalSystem" ErrorControl="normal" Interactive="no"/>
            <ServiceControl Id="ServiceControl" Start="install" Stop="both" Remove="uninstall" Name="BlueCollarService" Wait="yes"/>
          </Component>

          <Directory Id="ReferenceAssemblies" Name="Reference Assemblies">
            <Directory Id="Framework35" Name="Framework 3.5">
              <Component Id="Framework35" Guid="5EE363F7-FDAE-4E32-A1A9-4F84FF84F0C9">
                <File Id="BlueCollarDLL35" Name="BlueCollar.dll" DiskId="1" Source="Reference Assemblies\Framework 3.5\BlueCollar.dll" KeyPath="yes"/>
                <File Id="BlueCollarPDB35" Name="BlueCollar.pdb" DiskId="1" Source="Reference Assemblies\Framework 3.5\BlueCollar.pdb"/>
                <File Id="BlueCollarXML35" Name="BlueCollar.xml" DiskId="1" Source="Reference Assemblies\Framework 3.5\BlueCollar.xml"/>
              </Component>
            </Directory>
            
            <Directory Id="Framework40" Name="Framework 4.0">
              <Component Id="Framework40" Guid="C72CE44D-A0B9-4A8B-A821-102587B94CA3">
                <File Id="BlueCollarDLL40" Name="BlueCollar.dll" DiskId="1" Source="Reference Assemblies\Framework 4.0\BlueCollar.dll" KeyPath="yes"/>
                <File Id="BlueCollarPDB40" Name="BlueCollar.pdb" DiskId="1" Source="Reference Assemblies\Framework 4.0\BlueCollar.pdb"/>
                <File Id="BlueCollarXML40" Name="BlueCollar.xml" DiskId="1" Source="Reference Assemblies\Framework 4.0\BlueCollar.xml"/>
              </Component>
            </Directory>
          </Directory>
          
          <Component Id="Source" Guid="6880F6B9-FA8C-4C0E-B8E0-F5D386815BE4">
            <File Id="BlueCollarSrcZIP" Name="BlueCollar-Src.zip" DiskId="1" Source="BlueCollar-Src.zip" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="Blue Collar" Level="1" Description="Blue Collar runtime assemblies and source code." Display="expand" ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="Application"/>
      <ComponentRef Id="Framework35"/>
      <ComponentRef Id="Framework40"/>
      <ComponentRef Id="Source"/>
    </Feature>

    <UIRef Id="WixUI_InstallDir"/>
    <UIRef Id="WixUI_ErrorProgressText"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
  </Product>
</Wix>