<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="blueCollarService" type="BlueCollar.Service.BlueCollarServiceSection, collar_service"/>
  </configSections>
  <blueCollarService>
    <applications>
      <!-- TODO: Add application registrations here. -->
    </applications>
  </blueCollarService>
</configuration>