<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="blueCollarService" type="BlueCollar.Service.BlueCollarServiceSection, collar_service"/>
  </configSections>
  <blueCollarService>
    <applications>
      <!-- TODO: Add application registrations here. -->
      <!--
      <add name="MyApp" directory="C:\Path\To\MyApp" cfgFile="C:\Path\To\MyApp\Web.config" frameworkVersion="ThreeFive"/>
      <add name="My40App" directory="C:\Path\To\My40App" cfgFile="C:\Path\To\My40App\Web.config" frameworkVersion="FourZero"/>
      -->
    </applications>
  </blueCollarService>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>