<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="blueCollar" type="BlueCollar.Configuration.BlueCollarSection, BlueCollar"/>
  </configSections>
  <blueCollar>
    <schedules>
      <add name="Every Minute" repeatHours="0.0166667" startOn="1/1/2010">
        <scheduledJobs>
          <add type="Web40.ExampleScheduledJob, Web40"/>
        </scheduledJobs>
      </add>
    </schedules>
    <store type="BlueCollar.SQLiteJobStore, BlueCollar">
      <metadata>
        <add key="ConnectionStringName" value="SQLite"/>
      </metadata>
    </store>
  </blueCollar>
  <connectionStrings>
    <add name="SQLite" connectionString="data source=|DataDirectory|BlueCollar.s3db"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
