<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="blueCollar" type="BlueCollar.Configuration.BlueCollarSection, BlueCollar"/>
  </configSections>
  <blueCollar>
    <store type="BlueCollar.SQLiteJobStore, BlueCollar">
      <metadata>
        <add key="ConnectionStringName" value="SQLite"/>
      </metadata>
    </store>
  </blueCollar>
  <connectionStrings>
    <add name="SQLite" connectionString="data source=|DataDirectory|BlueCollar.s3db"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <httpModules>
      <add name="JobsInProcessModule" type="BlueCollar.JobsInProcessModule, BlueCollar"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <add name="JobsInProcessModule" type="BlueCollar.JobsInProcessModule" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>